* {
  box-sizing: border-box;
}

body {
  font-family: "Sofia Sans", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(245, 245, 245);
  color: #fff;
}

.logo img {
  height: 50px;
  width: auto;
  margin-right: 20px;
  transition: transform 0.3s; /* transition effect for the transform property */
}

.logo:hover img {
  transform: scale(1.05) rotate(5deg); /* scales up the logo slightly and rotates it 5 degrees */
}

.logo:active img {
  transform: scale(0.95) rotate(-5deg); /* scales down the logo slightly and rotates it -5 degrees */
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #34485e; /* Using the dark blue-gray color for text */
  transition: color 0.3s, background-color 0.3s; /* Smooth transition for color and background color changes */
  padding: 5px 10px; /* Padding for a better hover effect */
  border-radius: 4px; /* Rounded corners for hover background */
}

nav a:hover {
  color: #ffffff; /* On hover, text becomes white */
  background-color: #34485e; /* Dark blue-gray background on hover */
}

button {
  background-color: #34495e; /* Dark blue background */
  color: white; /* White text */
  padding: 12px 20px; /* Padding around text */
  border: none; /* No border */
  border-radius: 8px; /* Rounded corners */
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s; /* Transition for hover effect */
  font-size: 1em; /* Font size */
  font-weight: bold; /* Bold font weight */
  text-align: center; /* Centered text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Inline-block display */
  margin: 4px 2px; /* Margins around button */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: background-color 0.3s, transform 0.3s;
}

/* Hover effect for button */
button:hover {
  background-color: #3f5770; /* Slightly lighter blue on hover */

  /* Scale the button up slightly */
  transform: scale(1.05);
}

/* Active (pressed) effect for button */
button:active {
  /* Scale the button back down slightly */
  transform: scale(0.95);
}

.profile,
.experience {
  max-width: 600px; /* This ensures they take up the same width */
  margin: 0 auto; /* Centers them on the page */
  padding: 20px;
}

.profile-section {
  background-color: #f5f5f5; /* Slightly off-white/light gray background */
  padding: 20px 30px; /* Padding around the section */
  border-radius: 10px; /* Rounded corners */
  max-width: 600px; /* Setting a max width for readability */
  margin: 20px auto; /* Centering the profile section */
}

.profile-section h2 {
  color: #34485e; /* Dark blue-gray color */
  font-size: 24px; /* Adjust based on your preference */
  margin-top: 0; /* Removing default top margin */
}

.profile-section h3 {
  color: #34485e; /* Dark blue-gray color */
  font-size: 18px; /* Adjust based on your preference */
  font-weight: 500;
  margin-bottom: 20px; /* Spacing after the subtitle */
}

.profile-section p {
  color: #34485e; /* Dark blue-gray color */
  font-size: 16px; /* Adjust based on your preference */
  line-height: 1.5; /* Space between lines for better readability */
  margin-bottom: 20px; /* Spacing before the button */
  font-weight: 300;
}

.profile-section button {
  background-color: #34485e; /* Dark blue-gray background */
  color: #ffffff; /* White text */
  padding: 10px 15px; /* Padding around text */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer; /* Hand cursor on hover */
  transition: background-color 0.3s, transform 0.3s; /* Transition for hover effect */
}

.profile-section button:hover {
  background-color: #3f5770; /* Slightly darker blue-gray on hover */
  transform: scale(1.05); /* Grow effect on hover */
}

.profile-section button:active {
  transform: scale(0.95); /* Shrink effect when pressed */
}

.social-links {
  display: flex; /* Horizontal alignment of icons */
  margin-top: 20px; /* Spacing above the social links */
  gap: 24px; /* Space between icons */
}

.social-link {
  display: inline-block; /* Inline display with block properties */
  transition: transform 0.3s; /* Smooth transition for hover effect */
}

.social-link:hover {
  transform: scale(1.3); /* Slightly enlarges the icon on hover */
}

.social-link img {
  height: 24px; /* Set the height for icons */
  width: auto; /* Maintain the aspect ratio */
}

/* ... Experience path items ...*/

.experience-section {
  display: flex;
  gap: 20px; /* Space between the cards, adjust if needed */
  align-items: flex-start; /* Ensure cards start from the top */
  justify-content: space-between; /* Distribute space between the cards */
}

.card:nth-child(odd) {
  /* Targets every first card of the pair */
  margin-top: -20px; /* Pushes the card upwards by 20px, adjust for the desired stagger effect */
}

.card:nth-child(even) {
  /* Targets every second card of the pair */
  margin-top: 20px; /* Pushes the card downwards by 20px, adjust for the desired stagger effect */
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 0 calc(50% - 10px);
  /* margin-bottom: 20px; */
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center; /* Centered the content inside the card */
}

.card:hover {
  transform: scale(1.03); /* Slightly increase size on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.card:active {
  transform: scale(0.98); /* Slightly decrease size on active/press */
}

.card img {
  width: 100%;
  display: block;
  height: auto; /* Maintains aspect ratio */
  border-radius: 10px; /* Optional rounded corners to the image */
  margin-bottom: 20px; /* Provides spacing between the image and the text below */
  transition: transform 0.3s;
}

.card:hover img {
  transform: scale(1.05); /* Slightly zoom in on the image on hover */
}

.text-content h4 {
  margin: 0;
  font-size: 16px;
  color: #34495e;
  text-align: left;
  font-weight: 700;
  padding-bottom: 8px;
}

.text-content p {
  margin: 0;
  font-size: 14px;
  color: #34495e;
  text-align: left;
  font-weight: 500;
}

#date {
  margin: 0;
  font-size: 12px;
  color: #34495e;
  text-align: left;
  font-weight: 200;
}

#locatoion {
  margin: 0;
  font-size: 12px;
  color: #34495e;
  text-align: left;
  font-weight: 200;
}

/* ... Project page css ...*/

section {
  margin: 20px auto;
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Project Section */
.project-section {
  display: flex;
  justify-content: space-between;
}

.project-text {
  flex-basis: 70%;
  padding-right: 20px;
}

.project-image {
  flex-basis: 30%;
  text-align: center;
}

.project-image img {
  max-width: 100%;
}

.project-arrows {
  margin-top: 10px;
}

/* Card Section */
.three-card-section {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Alternatively, you can use margin */
}

.three-card {
  background: #f8f8f8;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card img {
  margin-bottom: 15px;
}

/* FAQ Section */
.faq-section {
  margin-top: 40px;
}

.faq-question {
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}

.faq-question:hover {
  background: #f8f8f8;
}

.chevron-icon {
  margin-right: 10px;
  transition: transform 0.3s;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

/* ... End experience path items ...*/

/* Footer Styles */
footer {
  background-color: #f5f5f5; /* Dark background for contrast */
  color: #34495e; /* White text */
  padding: 20px 0; /* Padding top and bottom */
  font-size: 1em; /* Slightly smaller font size for footer */
  text-align: center; /* Centered text for mobile */
  font-weight: 700;
}

.footer-content {
  max-width: 1200px; /* Max width to avoid extremely wide footers on large screens */
  margin: 0 auto; /* Center the content */
  padding: 0 20px; /* Padding on sides */
  display: flex; /* Flex layout to align items */
  justify-content: space-between; /* Distribute items on both ends */
  align-items: center; /* Vertically aligned */
}

.footer-divider {
  margin: 0 10px; /* Margin on sides of the divider */
}

/* Responsive Rules */
@media screen and (max-width: 768px) {
  .experience-section {
    flex-direction: column;
  }

  .card {
    max-width: 600px;
    margin: 20px auto;
    width: 100%;
    padding: 20px 30px;
  }

  .logo {
    margin-bottom: 15px;
  }

  nav {
    margin-bottom: 15px;
    margin: 20px 0;
  }

  nav a {
    display: block;
    margin: 10px 0; /* Adjust vertical spacing */
    padding: 5px 24px; /* Padding to improve touch target size */
  }

  header {
    flex-direction: column;
  }

  .project-section {
    flex-direction: column-reverse; /* Stack the card and image vertically */
    padding: 24px; /* Reduce padding for smaller devices */
  }

  .project-card,
  .project-image {
    flex-basis: auto; /* Reset flex-basis for smaller screens */
    max-width: 100%; /* Allow them to take full width */
    border: 24px solid #f9f9f9; /* Reduce border size to save space */
  }

  .project-image {
    margin-top: 24px; /* Add some spacing between the card and image when stacked */
  }

  /* Other responsive adjustments can be added here */
}

.footer-divider {
  display: none;
}
